.partners{
    margin: 64px 108px 0 108px;
    .template-title{
        font-size: 40px;
        font-weight: 700;
        margin-bottom: 48px;
        padding: 0 488px;
    }
    .partners-list{
        img{
            margin-right: 53px;
        }
    }
}