<section class="banner">
    <div class="container">
        <div class="banner-box">
            <div class="img-box">
                <img class="custom-img" src="assets/img/banner-woman.png" alt="banner">                    
                <div class="crypto-1">
                    <h4 class="secondary-title">Binance coin <img src="assets/img/binance-coin.svg" alt="binance"></h4>
                    <h4 class="exchange-rate">$283,63</h4>
                </div>
                <div class="crypto-2">
                    <h4 class="secondary-title">Ethereum<img src="assets/img/ethereum.svg" alt="ethereum"></h4>
                    <h4 class="exchange-rate">$1.812,56</h4>
                    <img src="assets/img/growth.svg" alt="growth">
                </div>
                <div class="crypto-3">
                    <h4 class="secondary-title">Bitcoin <img src="assets/img/bitcoin.svg" alt="bitcoin"></h4>
                    <div class="bitcoin-rate">
                        <h4 class="exchange-rate">$53.863,9</h4>
                        <svg width="60" height="40" viewBox="0 0 60 40" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M58.7969 22.18C55.7359 19.9058 55.5558 3.53126 51.5946 3.53125C47.6333 3.53124 48.5336 31.277 44.3922 31.277C40.2509 31.277 40.5213 18.9805 36.8298 18.9961C33.1383 19.0116 33.9489 36.7352 29.9876 36.7352C26.0263 36.7352 26.0497 24.9091 22.9653 24.9091C19.5442 24.9091 18.2838 14.4476 15.583 14.9025C12.8821 15.3573 11.2616 26.2737 8.38066 26.2737C5.49973 26.2737 3.51909 19.4509 1.17834 19.4509" stroke="#F5683B" stroke-width="0.946938" stroke-linecap="round"/>
                            <g opacity="0.1">
                            <path d="M58.7969 0.929688V39.3421" stroke="white" stroke-opacity="0.3" stroke-width="0.435679"/>
                            <path d="M44.3906 0.929688V39.3421" stroke="white" stroke-opacity="0.3" stroke-width="0.435679"/>
                            <path d="M29.9844 0.929688V39.3421" stroke="white" stroke-opacity="0.3" stroke-width="0.435679"/>
                            <path d="M1.17969 0.929688V39.3421" stroke="white" stroke-opacity="0.3" stroke-width="0.435679"/>
                            <path d="M15.5859 0.929688V39.3421" stroke="white" stroke-opacity="0.3" stroke-width="0.435679"/>
                            </g>
                            </svg>
                            <img src="assets/img/fall.svg" alt="fall">    
                    </div>
                </div>
            </div>
            <div class="text-box">
                <h2 class="template-title">Buy Crypto Now, to Get Rich In The Future</h2>
                <h4 class="description">Crypto.qu is more than just a Crypto trading platform. It’s the best place to learn about crypto.</h4>
                <button class="btn btn-custom">Get Started</button>
            </div>
        </div>
    </div>
</section>