<section class="crypto-list">
    <div class="container">
        <div class="info-box">
            <div class="crypto-stat_box stat-bg">
                <div class="crypto-stat">
                    <div class="stat-0">
                        <img src="assets/img/yellow-stat.svg" alt="yellow">
                    </div>
                    <div class="stat-1">
                        <div class="coin">
                            <h4 class="secondary-title">Bitcoin</h4>
                            <h4 class="exchange-rate">$53.863,9</h4>
                            <img class="analitics-stat" src="assets/img/growth.svg" alt="growth">
                        </div>
                        <div class="shedule">
                            <img src="assets/img/yellow-stat.svg" alt="yellow">
                        </div>
                    </div>
                </div>
                <div class="crypto-stat_2">
                    <div class="stat-1">
                        <div class="coin">
                            <h4 class="secondary-title">Ethereum</h4>
                            <h4 class="exchange-rate">$1812,56</h4>
                            <img class="analitics-stat" src="assets/img/growth.svg" alt="growth">
                        </div>
                        <div class="shedule">
                            <img src="assets/img/green-stat.svg" alt="green">
                        </div>
                    </div>
                    <div class="stat-2">
                        <div class="coin">
                            <h4 class="secondary-title">Binance Coin <img src="assets/img/binance-coin.svg"
                                    alt="binance-coin"></h4>
                            <h4 class="exchange-rate">$282,36</h4>
                            <img class="analitics-stat" src="assets/img/growth.svg" alt="growth">
                        </div>
                        <div class="shedule">
                            <img src="assets/img/purple-stat.svg" alt="purle">
                        </div>
                    </div>
                </div>
            </div>
            <div class="text-box">
                <h2 class="template-title"><span class="gradient-letter">List of Crypto</span> You Can Buy On Crypto.qu
                </h2>
                <h4 class="description">Crypto.qu is more than just a Crypto trading platform. It is the best place to
                    buy, sell, trade and learn about crypto.</h4>
                <button class="btn btn-custom">See More</button>
            </div>
        </div>
    </div>
</section>