<section class="info">
    <div class="container">
        <div class="info-box_1">
            <div class="primary-info">
                <h4 class="template-title">
                    Trusted <span class="gradient-letter">crypto platform</span> for sell, buy, and trade.
                </h4>
                <h2 class="description">Crypto.qu is one of the best cryptocurrency exchange platforms. It has the fastest 0 transaction fees, data secure, support buying crypto with credit or debit card, and other advantages.</h2>
            </div>
            <div class="feat-box">
                <div class="feat-info">
                    <h4 class="secondary-title"><img class="ellipse" src="assets/img/free.svg" alt="free"> No Transaction Fees</h4>
                    <h2 class="description">You can make a transaction like buy, sell, trade and exchange a cryptocurrency with no fees.</h2>
                </div>
                <div class="feat-info_2">
                    <h4 class="secondary-title"><img class="ellipse" src="assets/img/secure.svg" alt="secure"> Data Secure</h4>
                    <h2 class="description">Data protection with automated backup, recovery and replication in the AQU Cloud.</h2>
                </div>
                <div class="feat-info_3">
                    <h4 class="secondary-title"><img class="ellipse" src="assets/img/card.svg" alt="card"> Support Credit & Debit Card </h4>
                    <h2 class="description">We have a new feature that support all crypto transaction a with credit and debit card</h2>
                </div>    
            </div>
        </div>
    </div>
</section>